html {
    box-sizing: border-box;
}
body {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    background: linear-gradient(75deg, #12c2e9, #c471ed, #12c2e9);
    background-size: 350%;
    animation: gradient 16s infinite alternate;
}
@keyframes gradient {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-raw-gap: 1em;
}

.wrapper > div {
    padding: 0 30px;
    background-color: whitesmoke;
    font-family: "SMW Text NC";
    font-size: 25px;
    border-radius: 40px/40px;
}

.wrapper > div.information {
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 10px solid whitesmoke;
}

.logout_button {
    position: relative;
    font-family: "SMW Text NC";
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    padding: 20px 50px;
    border-radius: 40px;
    background-image: linear-gradient(45deg, #12c2e9, #12c2e9, #c471ed, #12c2e9, #c471ed);
    background-size: 300%;
    background-position: left;
    transition: background-position 1s;
}

.logout_button:hover {
    background-position: right;
    padding: 30px 60px;
    font-size: 20px;
}

.logout_button:focus {
    padding: 20px 50px;
    transition: 1ms;
}

.thread {
    border: 2px solid white;
    border-radius: 12px;
}












